
main{
    width: 750px;
    height: 750px;
    margin: 10px auto;
}

.grid{
    display : grid;        
    border : 100px solid rgb(189, 15, 15);
    height : 500px;
    width: 500px;
    margin: 10px auto;
}

