
.grid{
    display : grid;        
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border : 2px solid black;
    height : 1000px;
    width: 1000px;
}

.box{
    border : 1px solid black;
   
}